@import url(./reset.css);
@import url(./variables.css);


.gBGTransition {
    transition:background-color .7s ease;
}

button {
    height: auto !important; 
}

button span{
    text-wrap: wrap;
}

.paragraphStyle1    {
        font-size: 1rem;
        font-weight: 500;
        line-height: 2rem;
        color: var(--global-color-accent);
}



.buttonStyle1 {
    background-color: var(--global-color-accent) !important;
    color: white !important;
    font-size: 1rem;
    font-weight: bold;
    height: 2.8rem;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    width: fit-content;
    }
    

    
.buttonStyle1:hover {
    background-color: var(--primary-color) !important;
   
    }
    