.nav {
    background-color: var(--secondary-color);
    padding: 1rem 0;
    
}

.iconWrapper{
    background-color: var(--global-color);
    width: min-content;
    display: flex;
    padding: 0.6rem;
    border-radius: 0.6rem;
}

.iconWrapper:hover{
    background-color: var(--global-color-accent);
}

.iconWrapper:hover svg{
    fill: white;
    
}

.iconsContainer {
    gap: 0.6rem;
}

.btn{
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 14rem;
    min-width: 8rem;
    min-height: 45px;
}



.btn:hover{
    background-color: var(--global-color-accent) !important;
}



@media only screen and (max-width: 768px) {
 


    .iconWrapper, .langIcon {
  scale: 0.8;
    }
  }