.container{
    background-color: #DFECFF;
    padding-top: 3rem;
}

.rowContainer{
    padding: 3rem;

}

.header{
    width: 100%;
  display: flex;
justify-content: center;
}

.header h2{
    width: fit-content;
color: var(--global-color-accent);
font-size: 2rem;
font-weight: 900;
line-height: 1.3em;
text-decoration: none;
position: relative;

}

.header h2:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 3rem;
    border-width: 0 0 2px;
    border-style: solid;
    color: var(--primary-color);
}

.iconsContainer svg{
background-color: var(--secondary-color); ;
}

.iconsContainer h3{
    color: var(--global-color-accent);
    font-size: 1.1rem;
    font-weight: 800;
}

.iconsContainer p{
    color: var(--global-color-accent);
    font-size: 0.8rem;

}